html {
    scroll-behavior: smooth;
}

* {
    font-family: "Segoe UI";
    color: #3f3d56;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.breadcrumb a {
    text-decoration: none !important;
    color: #3f3d56;
}
h4 {
    margin: 2rem 0rem 1rem;
}
.table-image {
    td,
    th {
        vertical-align: middle;
    }
}
.menu {
    background-color: rgba(28, 185, 84, 0.1);
    border-radius: 6px !important ;
    width: 950px;
    height: 625px !important;
    margin-bottom: 20px;
    padding: 16px;
}
a {
    text-decoration: none !important;
    color: #3f3d56 !important;
}
.table {
    border: none !important;
}

.input__qty {
    width: 50px !important;
}
