@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&display=swap");

:root {
    --logo-font: "Dancing Script", cursive;
    --primary-font: "EB Garamond", serif;
    --primary-color: #2ab954;
    --second-color: #effaf3;
    --primary-text-color: #3f3d56;
    --second-text-color: #929292;
}

/* navbar */
/* .navbar.change .nav-link,
.navbar.change a.navbar-brand {
    color: var(--primary-text-color) !important;
}

.navbar {
    transition: 0.1s linear;
}

.navbar .nav-link,
.navbar a.navbar-brand {
    color: var(--second-color);
}

.change {
    background-color: var(--second-color) !important;
    transition: 0.1s linear;
} */

/* endnavbar */

#container-navbar {
    background-color: var(--second-color) !important;
}

#container-view-home {
    font-family: var(--primary-font);
    background-color: var(--second-color);
    padding: 80px 0px 0px 0px;
}

#container-view-home p {
    color: var(--second-text-color);
}

#container-view-home h1 {
    color: var(--primary-text-color);
}

#container-menu {
    font-family: var(--primary-font);
    background-color: white;
    padding: 50px 75px 0px 75px;
}

#container-menu h4,
h1 {
    color: var(--primary-text-color);
}

span {
    color: var(--primary-color);
    font-size: 15px;
}

.btn-success {
    background-color: var(--primary-color) !important;
    padding: 0px 45px 0px 45px !important;
    border-color: var(--primary-color) !important;
}
.btn-success:hover {
    background-color: #38e56b !important;
}

hr {
    border: 1px var(--bs-blue) !important;
}

.btn-outline-success {
    padding: 0px 90px 0px 90px !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-succes:hover {
    color: var(--second-color) !important;
    background-color: #38e56b !important;
}
/* .btn-outline-success {
    padding: 0px 90px 0px 90px !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-succes:hover {
    background-color: #38e56b !important;
} */

a:hover > .btn-more {
    color: var(--second-color);
}
