@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&display=swap");

/* font-family: 'Dancing Script', cursive;
font-family: 'EB Garamond', serif; */

:root {
    --logo-font: "Dancing Script", cursive;
    --primary-font: "EB Garamond", serif;
    --primary-color: #2ab954;
    --second-color: #effaf3;
    --primary-text-color: #3f3d56;
    --second-text-color: #929292;
    --text-Hindai-madurai: "Hind Madurai", sans-serif;
}

body::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(220, 220, 220); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid var(--second-color); /* creates padding around scroll thumb */
}

/* footer */

#container-footer {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    padding: 50px 75px 0px 75px;
    color: white;
}

#container-footer a,
#container-footer h4,
#container-footer p {
    color: white;
    font-family: var(--text-Hindai-madurai);
}

#container-footer a:link {
    text-decoration: none;
    color: white;
}

#container-footer a:hover {
    color: black;
}

#container-Copyright {
    background-color: var(--primary-color);
    padding: 120px 75px 80px 75px;
    color: white;
}

/* end footer */

/* navbar */
.navbar {
    font-family: var(--primary-font);
    font-size: 17px;
    background-color: var(--primary-color);
}

.navbar .navbar-brand {
    font-family: var(--logo-font);
    font-size: 30px;
    color: white !important;
}

.navbar-nav .nav-link {
    color: white !important;
    font-family: var(--text-Hindai-madurai);
}

.navbar-nav .nav-item a:hover {
    color: black !important;
}

.navbar.change .nav-link,
.navbar.change a.navbar-brand {
    color: var(--primary-text-color) !important;
}

.navbar {
    transition: 0.1s linear;
}

.navbar .nav-link,
.navbar a.navbar-brand {
    color: var(--second-color);
}

.change {
    background-color: var(--second-color) !important;
    transition: 0.1s linear;
}

/* end navbar */

/* body */

html,
body {
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* end body */

/* typogragi */

.hindai__font {
    font-family: var(--text-Hindai-madurai);
}

/* end typografi */

/* button */
.input__form:focus {
    box-shadow: 0px 0px 5px 2px #2ab954 !important;
}

/* end button */

/* images thumbanil */
.content-overlay {
    overflow: hidden;
}

.content-image {
    transition: 1s;
}

.content-image:hover {
    transform: scale(1.5) rotate(15deg);
}

/* end image thumbanil */
.change a.nav-link.active {
    color: var(--primary-color) !important;
}

a.nav-link.active {
    color: var(--primary-text-color) !important;
}
