#container-navbar {
    background-color: var(--second-color);
}

#container-view-home {
    font-family: var(--primary-font);
    background-color: white;
    padding: 100px 0 0 0;
}

#container-view-home p {
    color: var(--primary-text-color);
}

#container-view-home h1 {
    color: var(--primary-text-color);
}

#container-view-home a {
    color: var(--primary-text-color);
}
#container-view-home a:link {
    text-decoration: none;
    color: var(--primary-text-color);
}

#container-view-home a:hover {
    color: var(--primary-color);
}

#container-menu {
    font-family: var(--primary-font);
    background-color: white;
    /* padding: 50px 75px 150px 75px; */
}

#container-menu h4,
h1 {
    color: var(--primary-text-color);
}

select {
    padding: 7px 15px;
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 4px;
    background-color: white;
}

.input__qty {
    padding: 5px 15px;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--primary-color);
}

.input__qty:focus {
    box-shadow: 0px 0px 5px 2px #2ab954;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #28c754;
    color: black;
}

span {
    color: var(--primary-color);
    font-size: 15px;
}

.btn-success {
    background-color: var(--primary-color) !important;
    padding: 0px 45px 0px 45px !important;
    border-color: var(--primary-color) !important;
}
.btn-success:hover {
    background-color: #38e56b !important;
}

/* .btn-success:active, .btn-success:visited */
hr {
    border: 1px var(--bs-blue) !important;
}

.btn-outline-dark {
    border-color: var(--primary-color) !important;
}
