.submenu > *:hover,
.submenu a:hover {
    color: #1db954;
}

.submenu a {
    color: #0f923d;
}

.btn__save {
    background-color: #1db954 !important;
    color: #fff !important;
}

.btn__save:hover {
    background-color: #0f923d !important;
}
