@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&display=swap");

/* font-family: 'Dancing Script', cursive;
font-family: 'EB Garamond', serif; */

:root {
    --logo-font: "Dancing Script", cursive;
    --primary-font: "EB Garamond", serif;
    --primary-color: #2ab954;
    --second-color: #effaf3;
    --primary-text-color: #3f3d56;
    --second-text-color: #929292;
}

#container-navbar {
    background-color: var(--second-color);
}

#container-view-home {
    font-family: var(--primary-font);
    background-color: var(--second-color);
    padding: 100px 75px 100px 75px;
}

#container-view-home p {
    color: var(--second-text-color);
}

#container-view-home h1 {
    color: var(--primary-text-color);
}

#container-menu {
    font-family: var(--primary-font);
    background-color: white;
    margin: 150px 0;
}

#container-menu h4,
h1 {
    color: var(--primary-text-color);
}

#container-view-home-our {
    font-family: var(--primary-font);
    background-color: var(--second-color);
}

#container-view-home-our p {
    color: var(--second-text-color);
}

#container-view-home-our h1 {
    color: var(--primary-text-color);
}

#menu-content {
    border-radius: 25px;
    background: white;
    color: white !important;
}

#menu-content img {
    border-radius: 20px;
}

#container-view-home-down {
    font-family: var(--primary-font);
    background-color: white;
}

#container-view-home-down p {
    color: var(--second-text-color);
}

#container-view-home-down h1 {
    color: var(--primary-text-color);
}

#home {
    color: var(--primary-color) !important;
}
.navbar-nav .nav-item a:hover {
    color: var(--primary-color) !important;
}

/* div .link, a:link {
  text-decoration: none;
  color: white ;
}

div .link, a:hover{
  color: black !important;
}

div .link, a{
  color: white !important;
} */

html,
body {
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

span {
    color: var(--primary-color);
    font-size: 15px;
}

.btn-success {
    background-color: var(--primary-color) !important;
    padding: 6px 10px 6px 10px !important;
    border-color: var(--primary-color) !important;
}
.btn-success:hover {
    background-color: #38e56b !important;
}

.badge {
    background-color: var(--primary-color) !important;
}

.btn-outline-success {
    padding: 10px 20px 10px 20px !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-succes:hover {
    background-color: var(--primary-color) !important;
}

/* contetn */
.content__popular {
    width: 350px;
}

.img__popular {
    height: 250px;
    width: 100%;
}

.title__popular {
    height: 30px;
}

/* awesome service */
#content__service {
    width: 300px;
    border-radius: 10px;
}

#content__service:hover {
    background-color: var(--primary-color) !important;
    cursor: pointer;
    color: #fff;
}

#content__service:hover p,
#content__service:hover a {
    color: #fff !important;
}
