html {
    scroll-behavior: smooth;
}

.submenu__active {
    font-weight: bold;
}

.submenu__list {
    display: block;
    text-decoration: none;
    color: #1db954;
}

.submenu__list:hover {
    color: #1db954;
    font-weight: bold;
}

.mainmenu a {
    text-decoration: none;
    color: #3f3d56 !important;
    font-weight: bold;
}

.submenu {
    /* box-shadow: 0px 0px 30px -21px rgba(0, 0, 0, 0.29); */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 30px;
    padding-left: 30px !important;
    height: 315px;
    background-color: rgba(28, 185, 84, 0.1);
}

.mainmenu {
    /* box-shadow: 0px 0px 30px -21px rgba(54, 50, 50, 0.29); */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 30px !important;
    /* padding-left: 30px !important; */
    height: 600px;
    margin-left: 40px;
    background-color: rgba(28, 185, 84, 0.1);
}

.btn-save {
    background-color: #1db954 !important;
    color: #fff !important;
}
.btn-save:hover {
    background-color: #0f923d !important;
    transition: 1s;
}

/* my order */
.table-order,
.table-order a {
    font-size: 15px;
}
