.bg {
    background-color: rgba(28, 185, 84, 0.1);
    border-radius: 6px;
}

.main__content {
    width: 100%;
    height: 100vh;
}

input[type="text"],
textarea {
    background-color: rgba(28, 185, 84, 0) !important;
}
input[type="email"],
textarea {
    background-color: rgba(28, 185, 84, 0) !important;
}
input[type="Password"],
textarea {
    background-color: rgba(28, 185, 84, 0) !important;
}

.btn {
    justify-items: center !important;
    justify-content: center !important;
    width: 200px !important;
}

.input__in {
    border-bottom: 1px solid #2ab954 !important;
}
